{{>homeBtn}}

<section class="band-page">
	<div class="band-landing" style="background-image: url('/pics/bands/{{band.landingImg}}.jpg')">
		<h1 id="band-name">{{band.name}}</h1>
	</div>

	<div class="band-about">
		<div>
			<h2>ABOUT</h2>
			{{#each band.blurb}}
				<p>{{this}}</p>
			{{/each}}
		</div>
		<div style="background-image: url('/pics/bands/{{band.aboutImg}}.jpg')"></div>
		</div>
	</div>

	{{#if band.listen}}
		<div class="band-listen">
			<h2>LISTEN</h2>
			<div>
				<audio controls class="bandAudio">
					<source src="/audio/{{band.listen.src}}.mp3">
				</audio>
				<span><i>{{band.listen.title}}</i></span>
			</div>
		</div>
	{{/if}}

	{{#if band.watch}}
		<div class="band-watch">
			<h2>WATCH</h2>
			<button class="video-wrap" data-vid={{band.watch.id}} style="background-image: url('/pics/bands/{{band.watch.vidImg}}.jpg')">
				<i class="material-icons">play_arrow</i>
				<iframe frameborder="0" allowfullscreen></iframe>
				<div class="overlay">
					<span>{{{band.watch.caption}}}</span>
				</div>
			</button>
		</div>
	{{/if}}

	<div class="band-book">
		<!-- <a href="mailto:figsandlimes@gmail.com">Contact Us!</a> -->
		<a class="form-toggle">Contact Us!</a>
	</div>
</section>
