<!-- LANDING -->
<section class="sctn-landing">
	<div class="landing-text">
		<h1>Figs &amp; Limes</h1>
    <span>Band Agency</span>
		<nav>
			<a href="#about">About</a>
			<a href="#bands">Bands</a>
			<a href="#faq">FAQ</a>
			<a href="mailto:figslimes@gmail.com" class="form-toggle">Contact</a>
		</nav>
	</div>
</section>

<!-- ABOUT -->
<section class="sctn-about" id="about">
	<div class="about-text">
		<h2>ABOUT</h2>
		<p>At Figs & Limes we offer exceptional hand-selected bands to suit any occasion, from small intimate gatherings to generous and extravagant events.</p>
		<p>We're based out of Bristol (because it's great) but our acts are available worldwide.</p>
		<p>Why are we called Figs & Limes? Hand-picked bands, like hand-picked fruit.</p>
	</div>
</section>

<!-- BANDS -->
<section class="sctn-bands" id="bands">
	<h2>BANDS</h2>
	<div class="bands-wrap">
		{{#each bands}}
			<a href="/bands/{{url}}" target="_blank">
				<div class="band-thumbImg" style="background-image: url('/pics/bands/{{thumbImg}}.jpg');"></div>
				<div class="band-info">
					<span>{{name}}</span>
					<span>- {{subtitle}} -</span>
				</div>
			</a>
		{{/each}}
	</div>
</section>

<!-- FAQ -->
<section class="sctn-faq" id="faq">
	<div class="faq-text">
		<h2>FAQ</h2>
		{{#each faqs}}
			<div>
				<h3>{{q}}</h3>
				<p>{{a}}</p>
			</div>
		{{/each}}
	</div>
</section>
